.Button{
    background-color: green;
    border-color: green;
    padding: 10px 5px;
    font-size: 1rem;
    border-radius: .25rem;
    color: white;
    cursor: pointer;
}

.Button:hover {
    background-color: darkgreen;
    border-color: darkgreen;
    box-shadow: 2px 2px 2px grey;
}
